{
	email {$ACME_EMAIL}
	admin off
}

{$DOMAIN} {
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	@backend path /api/* /media/*
	handle @backend {
		reverse_proxy api:8000 {
			flush_interval -1
		}
	}

	handle {
		encode zstd gzip
		reverse_proxy web:3000 {
			flush_interval -1
		}
	}
}
